#title {
  text-align: center;
}

#mainBox {
  border: 1px solid black;
}

#dateDisplayBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

#mainTable {
  width: 100%;
}

.tableInput {
  text-align: center;
  width: 100%;
  border: none;
}

.tableProcessInput {
  width: calc(100% - 23px);
  border: none;
  font-weight: 700;
}

input:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea:focus {
  outline: none;
}

#dateDisplay {
  font-size: 30;
  font-weight: 600;
}

#dateDisplay:hover {
  color: gray;
}

#dateChangeModal.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#dateChangeModal .modal-window {
  background: rgba(69, 139, 197, 0.70);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 400px;
  height: 100px;
  position: relative;
  top: -100px;
  padding: 10px;
}

#dateChangeModal .title {
  padding-left: 10px;
  display: inline;
  text-shadow: 1px 1px 2px gray;
  color: white;

}

#dateChangeModal .title h2 {
  display: inline;
}

#dateChangeModal .close-area {
  display: inline;
  float: right;
  padding-right: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 2px gray;
  color: white;
}

#dateChangeModal .content {
  margin-top: 20px;
  padding: 0px 10px;
  text-shadow: 1px 1px 2px gray;
  color: white;
}